.sideText{
    color: #191970;
}
.airLineimg{
    width: 130px;
    height: 130px;
    margin-left: 1000px;
}
h1{
    color:#191970;
}
.redLineImg{
    width: 220px;
    height: 50px;
    margin-top: 10px;

}
h6{
    color:#191970;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
@media (min-width:319px) and (max-width:480px){
    .airLineImg{
        width: 90px;
        height: 90px;
        margin-left: 240px;
    }
}
@media (min-width: 761px) and (max-width:1279px){
    .airLineImg{
        width: 90px;
        height: 90px;
        margin-left: 650px;
    }
}
@media (min-width: 1024px) and (max-width:1024px){
    .airlineimg{
        width: 130px;
        height: 130px;
        margin-left: 800px;
    }
}
@media (min-width: 1440px) and (max-width:1440px){
    .airLineImg{
        width: 130px;
        height: 130px;
        margin-left: 1100px;
    }
}