.text1{
    font-size: 16px;
    color: #191970;
}
.sideText{
    color: #191970;
}
.checkBox{
float: right;
}
.lookbut{
    color: #191970;
    float: right;
    margin-left: 600px;
}
.attachment{
    color: blue;
}
.radioBox{
    float: left;
}
.button2{
    float:right;
    padding-right:20px;
}
@media (min-width:319px) and (max-width:480px){
    .lookbut{
        color: #191970;
        margin-left: 10px;
        margin-right: 20px;
    }
    .sideText{
        color: #191970;
         justify-content: end;
        font-size: 12px;
    }
    .maincontainer{
        width: 94%;
        margin-left:10px;
        margin-right: 5px;
    }
    .text1{
        font-size: 14px;
    color: #191970;
    }
}
@media (min-width: 761px) and (max-width:1279px){
    .lookbut{
        color: #191970;
        float: right;
        margin-left: 450px;
    }
    .sideText{
        color: #191970;
         justify-content: end;
        font-size: 12px;
    }
}
@media (min-width: 1024px) and (max-width:1024px){
    .lookbut{
        color: #191970;
        float: right;
        margin-left: 600px;
    }
}
@media (min-width: 1440px) and (max-width:1440px){
    .lookbut{
        color: #191970;
        float: right;
        margin-left: 800px;
    }
}